*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  margin: 0 40px;
  min-height: 100vh;  
  background-color: #000000;
  color: #fff;
}
a{
  color: #f9f9f9;
  text-decoration: none;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style:normal;
    
  }
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
.navbar{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0), #000000);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 60px;
  padding: 0;
  list-style: none;*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  body {
    margin: 0 40px;
    min-height: 100vh;  
    background-color: #000000;
    color: #fff;
    /* overflow: hidden; */
  }
  a{
    color: #f9f9f9;
    text-decoration: none;
  }
  
  .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
  .poppins-medium {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style:normal;
      
    }
    
  .poppins-semibold {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    
  .poppins-bold {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
  .poppins-extrabold {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
    }
  
  .navbar{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0), #000000);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    width: 100vw;
    top: 0;
    width:100%;
    height: 60px;
    padding: 0;
    list-style: none;
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .sidebar{
    padding-left: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display:flex; /*change this*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 30px;
    text-align: center;
  }
  .sidebar li{
    margin: 10px;
    width: 100%;
    padding: 10px 0;
  }
  .sidebar a{
    width: 100%;
    height: 100%;
  }
  #sidebar-logo{
    width: 30px;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  #sidebar-logo-container{
    display:flex;
    border: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .sidebar-item{
    background-color: #00000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  
  }
  .sidebar-item:hover{
    background-color: #ffffff;
    color: #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  
  }
  .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar li{
    height: 30px;
    margin: 0 10px;
  }
  .navbar-item-icon{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .navbar-item{
    height: 100%;
    padding: 0 35px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-icon{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30px;
  }
  .navbar-item{
    margin: 0;
    border: 2px solid #ad538900;
    border-radius: 20px;
  }
  .navbar-item:hover{
    margin: 0;
    border: 2px solid #ffffff;
    border-radius: 20px;
  }
  .sidebar-item:hover{
    margin: 0;
    border: 2px solid #ffffff;
    border-radius: 20px;
  }
  #navbar-logo{
    width: 30px;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  #navbar-logo-container{
    display:flex;
    background:linear-gradient(125deg, #3C1053, #AD5389);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 150px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
    justify-content: center;
  }
  a .menu{
    padding: 0;
    margin: 0;
  }
  
  .hero-title{
    display: block;
    font-size: 100px;
    color: #424242;
    margin-top: 75px;
    width: 27rem;
    position: relative;
    /* outline: 2px solid rgb(0, 238, 255); */
  }
  .hero-description{
    position: relative;
    display: block;
    font-size: 35px;
    line-height: 1;
    position: relative;
    width: 30rem;
    margin-top: 30px;
    margin-bottom: 75px;
  
    /* outline: 2px solid red; */
  }
  .underline{
   position: absolute;
    top: 4.7rem;
    left: 8.5rem;
   /* outline: .2rem solid yellow; */
  }
  .grad-text{            
    background: linear-gradient(
    125deg,#3c1053, #AD5389); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
   }
  .readmore-button {
    position: relative;
    margin: 50px 100px;
    width: 185px; 
    height: 55px; 
    background: linear-gradient(to right, #3C1053 , #AD5389); 
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: contain; 
    border: none; 
    border-radius: 30px;
    display:flex;
    align-items: center;
    cursor: pointer; 
    text-decoration: none; 
    z-index: inherit;
    cursor: pointer;
  }
  .readmore-button::after{
    content: "";
    z-index: -1;
    position: absolute;
    margin:4%;
    width: 95%;
    height: 95%;
    border: none;
    border-radius: 30px;
  }
  .readmore-button::before{
    content: "";
    z-index: -1;
    background-image:linear-gradient(
      45deg,#3C1053 , #AD5389,#ffffff,#AD5389,#3C1053
    );
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 20px;
    background-size: 600%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    filter: blur(35px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 0;
  }
  @keyframes glowing {
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 400% 0;
    }
    100%{
      background-position: 0 0;
    }
  }
  .readmore-button:hover::before{
    opacity: 1;
  }
  
  .read-more-icon{
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    padding:0;
    margin: 10px;
  
  }
  .read-more-text{
    display: flex;
    font-size: 20px;
    padding-left: none;
    justify-content: right;
    
  }
  display: flex;
  align-items: center;
  outline: 1px solid rgb(163, 98, 238);
}
.navbar li{
  height: 30px;
  margin: 0 10px;
}
.navbar-item-icon{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-item{
  height: 100%;
  padding: 0 35px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 2px solid #ad538900;
  border-radius: 20px;
}
.navbar-item:hover{
  margin: 0;
  border: 2px solid #ffffff;
  border-radius: 20px;
}
#navbar-logo {
  display: flex;
  background: linear-gradient(125deg, #3C1053, #AD5389);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100px; /* Fixed width */
  height: 60px; /* Fixed height */
  margin: 0 60px; /* Center horizontally if container allows */
  padding: 0;
  border: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.sidebar{
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display:none; /*change this*/
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
}
.sidebar li{
  margin: 10px;
  width: 100%;
  padding: 10px 0;
}
.sidebar-item{
  background-color: #00000000;
  margin:0;
  padding: 30px 40px;
  width: 100%;
}
.sidebar-item:hover{
  background-color: #ffffff;
  margin: 0;
  padding: 10px 40px;
  border-radius: 20px;
}
#sidebar-logo{
  width: 30px;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
#sidebar-logo-container{
  display:flex;
  border: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.close-button{
  height: 30px;
  width: 30px;
}

.sidebar-item{
  background-color: #00000000;
  border-radius: 20px;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 60px;
  align-items: center;
  justify-content: center;
}
.sidebar-item:hover{
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:  10px 30px;
  align-items: center;
  justify-content: center;
}
a .menu{
  padding: 0;
  margin: 0;
}
.hero-title{
  display: block;
  font-size: 10vw;
  color: #424242;
  margin-top: 75px;
  left: 0;
  width: 46%;
  position: relative;
  outline: 2px solid rgb(0, 238, 255);
}
.hero-description{
  position: relative;
  font-size: 3vw;
  line-height: 1;
  left: 0;
  width: 15%;
  margin-top: 30px;
  margin-bottom: 75px;
  outline: 2px solid red;
}
.underline{
 position: absolute;
  top: 4vh;
  left: 8.5;
 /* outline: .2rem solid yellow; */
}
.grad-text{            
  background: linear-gradient(
  125deg,#3c1053, #AD5389); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
 }
.readmore-button {
  position: relative;
  margin: 50px 100px;
  width: 185px; 
  height: 55px; 
  background: linear-gradient(to right, #3C1053 , #AD5389); 
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: contain; 
  border: none; 
  border-radius: 30px;
  display:flex;
  align-items: center;
  cursor: pointer; 
  text-decoration: none; 
  z-index: inherit;
  cursor: pointer;
}
.readmore-button::after{
  content: "";
  z-index: -1;
  position: absolute;
  margin:4%;
  width: 95%;
  height: 95%;
  border: none;
  border-radius: 30px;
}
.readmore-button::before{
  content: "";
  z-index: -1;
  background-image:linear-gradient(
    45deg,#3C1053 , #AD5389,#ffffff,#AD5389,#3C1053
  );
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 20px;
  background-size: 600%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  filter: blur(35px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}
@keyframes glowing {
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0 0;
  }
}
.readmore-button:hover::before{
  opacity: 1;
}

.read-more-icon{
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  padding:0;
  margin: 10px;

}
.read-more-text{
  display: flex;
  font-size: 20px;
  padding-left: none;
  justify-content: right;
  
}
@media(max-width:900px){
  .navbar-item{
    display: none;
  }
  .navbar{
    justify-content: center;
    align-items: center;
  }
  #navbar-logo-container{
    justify-content: center;
    margin: auto;
  }
}
@media(max-width:400px){
  .sidebar{
    width: 100%;
  }
}