*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;  
  background-color: #000000;
  color: #fff;
  /* overflow: hidden; */
}
a{
  color: #fff;
  text-decoration: none;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style:normal;
    
  }
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

nav{
  background-color:  #000000;
  /* filter: blur(20px); */
  padding: 0 50px;
}
.navbar{
  width:100%;
  padding-top: 20px;
  list-style: none;
  display: flex;
  justify-content: flex-end; /*change this*/
  align-items: center; 
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: none; /*change this*/
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  margin: 0;
  width: 100%;
  padding: 10px 0;
}
.sidebar a{
  width: 100%;
  height: 100%;
}

.navbar li{
  height: 30px;
  margin: 0 10px;
}
.navbar a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar svg{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30px;
}
.navbar svg path{
  fill: #fff;
}
.navbar svg path:hover{
  fill: #AD5389;
}

.navbar-item:hover{
  box-sizing: border-box;
  border: 2px solid #AD5389;
  border-radius: 20px;
}

.hero-title{
    font-size: 100px;
    color: #424242;
}

a{
  color: #fff;
  text-decoration: none;
}
.grad-text{            
  background: linear-gradient(
  125deg,#3c1053, #AD5389); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
 }
.hero-description{
  font-size: 35px;
  position: relative;
  top: -50px;
  width: 50%;
  margin: none;
}
.readmore-button {
  position: relative;
  margin: 20px;
  width: 185px; 
  height: 55px; 
  background: linear-gradient(to right, #3C1053 , #AD5389); 
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: contain; 
  border: none; 
  border-radius: 30px;
  display:flex;
  align-items: center;
  cursor: pointer; 
  text-decoration: none; 
  z-index: inherit;
  cursor: pointer;
}
.readmore-button::after{
  content: "";
  z-index: -1;
  position: absolute;
  margin:4%;
  width: 95%;
  height: 95%;
  border: none;
  border-radius: 30px;
}
.readmore-button::before{
  content: "";
  z-index: -1;
  background-image:linear-gradient(
    45deg,#3C1053 , #AD5389,#ffffff,#AD5389,#3C1053
  );
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 20px;
  background-size: 600%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  filter: blur(35px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}
@keyframes glowing {
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0 0;
  }
}
.readmore-button:hover::before{
  opacity: 1;
}

.read-more-icon{
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  padding:0;
  margin: 10px;

}
.read-more-text{
  display: flex;
  font-size: 20px;
  padding-left: none;
  justify-content: right;
  
}