body {
    margin: 0px 45px;
    background-color: #000000;
    color: #fff;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style:normal;
    
  }
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

.navbar {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 60%);
    backdrop-filter: blur(5px);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;

}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 20px;
}
.nav-list ul{

}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.logo {
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  box-sizing: border-box;
  height: 55px;
  background-image: linear-gradient(to right, #3C1053 , #AD5389);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
}

.logo img {
    max-height: 50px;
    padding-top: 13px;
    margin: 0 auto;
  }
  
  h1{
    font-size: 100px;
    color: #424242;
  }

a{
  color: #fff;
  text-decoration: none;
}
.custom-button {
  position: relative;
  width: 155px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  background-image: linear-gradient(to right, #3C1053 , #AD5389); /* Gradient background */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-position: left center; /* Aligns the background image to the left */
  background-size: contain; /* Ensures the entire image is visible */
  border: none; /* Optional: to visualize the container */
  border-radius: 30px;
  display:flex;
  align-items: center;
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: none; /* Remove underline from link */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.read-more-icon{
  border: none;
  display:flex;
  justify-content:left;
  width: 22%;
  height: auto;
  padding: 0 10px;
}
.read-more-text{
  display: flex;
  font-size: 18px;
  padding-left: 10px;
  justify-content: right;

}
.custom-button:hover {   
  background-image: linear-gradient(to right, #ffffff , #ffffff); /* Darker blue on hover */
  
}

.custom-button:active {
  background-image: #004085; /* Even darker blue on click */
}

.custom-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Custom focus outline */
}